---
http_interactions:
- request:
    method: get
    uri: https://api.gem.co/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "resources": {
            "service": {
              "description": "A resource describing the resources and schemas for this API.",
              "actions": {
                "documentation": {
                  "method": "GET",
                  "response": {
                    "status": 200
                  }
                },
                "description": {
                  "method": "GET",
                  "response": {
                    "type": "application/json",
                    "status": 200
                  }
                }
              }
            },
            "users": {
              "actions": {
                "create": {
                  "method": "POST",
                  "request": {
                    "type": "application/vnd.gem.user+json;charset=UTF-8;version=2.0",
                    "authorization": [
                      "Gem-Identify"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.authorization_request+json;charset=UTF-8;version=2.0",
                    "status": 201
                  }
                }
              }
            },
            "user": {
              "actions": {
                "get": {
                  "method": "GET",
                  "request": {
                    "authorization": [
                      "Gem-Application",
                      "Gem-Device",
                      "Gem-User-Session",
                      "Gem-MFA"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.user+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                },
                "create_session": {
                  "method": "GET",
                  "request": {
                    "authorization": [
                      "Gem-Identify"
                    ]
                  },
                  "response": {
                    "status": 204
                  }
                },
                "get_session": {
                  "method": "GET",
                  "request": {
                    "authorization": [
                      "Gem-MFA"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.user+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                },
                "update": {
                  "method": "PATCH",
                  "request": {
                    "type": "application/vnd.gem.user_update+json;charset=UTF-8;version=2.0",
                    "authorization": [
                      "Gem-User-Session"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.user+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                },
                "send_mfa": {
                  "method": "POST",
                  "request": {
                    "type": "application/vnd.gem.user_update+json;charset=UTF-8;version=2.0",
                    "authorization": [
                      "Gem-User-Session",
                      "Gem-Identify"
                    ]
                  },
                  "response": {
                    "status": 204
                  }
                },
                "verify_mfa": {
                  "method": "PUT",
                  "request": {
                    "type": "application/vnd.gem.user_update+json;charset=UTF-8;version=2.0",
                    "authorization": [
                      "Gem-User-Session",
                      "Gem-Device"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.mfa_verify+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                }
              }
            },
            "devices": {
              "actions": {
                "list": {
                  "method": "GET",
                  "request": {
                    "authorization": [
                      "Gem-User-Session"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.device_list+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                },
                "create": {
                  "method": "POST",
                  "request": {
                    "type": "application/vnd.gem.device+json;charset=UTF-8;version=2.0",
                    "authorization": [
                      "Gem-User-Session",
                      "Gem-Identify"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.authorization_request+json;charset=UTF-8;version=2.0",
                    "status": 201
                  }
                }
              }
            },
            "device": {
              "actions": {
                "get": {
                  "method": "GET",
                  "request": {
                    "authorization": [
                      "Gem-User-Session",
                      "Gem-Device",
                      "Gem-MFA"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.device+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                },
                "approve": {
                  "method": "PUT",
                  "request": {
                    "type": "application/vnd.gem.device+json;charset=UTF-8;version=2.0",
                    "authorization": [
                      "Gem-MFA"
                    ]
                  },
                  "response": {
                    "status": 204
                  }
                }
              }
            },
            "developers": {
              "actions": {
                "create": {
                  "method": "POST",
                  "request": {
                    "type": "application/vnd.gem.developer+json;charset=UTF-8;version=2.0"
                  },
                  "response": {
                    "type": "application/vnd.gem.developer+json;charset=UTF-8;version=2.0",
                    "status": 201
                  }
                },
                "get": {
                  "method": "GET",
                  "request": {
                    "authorization": [
                      "Gem-Developer-Session"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.developer+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                }
              }
            },
            "developer_salt": {
              "actions": {
                "get": {
                  "method": "GET",
                  "response": {
                    "type": "application/vnd.gem.developer_salt+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                }
              }
            },
            "developer_session": {
              "actions": {
                "create": {
                  "method": "POST",
                  "request": {
                    "authorization": [
                      "Gem-Password"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.developer+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                },
                "destroy": {
                  "method": "DELETE",
                  "request": {
                    "authorization": [
                      "Gem-Developer-Session"
                    ]
                  },
                  "response": {
                    "status": 204
                  }
                }
              }
            },
            "developer": {
              "actions": {
                "get": {
                  "method": "GET",
                  "request": {
                    "authorization": [
                      "Gem-Developer-Session"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.developer+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                },
                "update": {
                  "method": "PUT",
                  "request": {
                    "authorization": [
                      "Gem-Developer-Session"
                    ],
                    "type": "application/vnd.gem.developer_update+json;charset=UTF-8;version=2.0"
                  },
                  "response": {
                    "type": "application/vnd.gem.developer+json;charset=UTF-8;version=2.0",
                    "status": 200
                  }
                },
                "send_mfa": {
                  "method": "POST",
                  "request": {
                    "type": "application/vnd.gem.developer_update+json;charset=UTF-8;version=2.0",
                    "authorization": [
                      "Gem-Identify",
                      "Gem-Developer-Session"
                    ]
                  },
                  "response": {
                    "status": 204
                  }
                },
                "confirm_email": {
                  "method": "PUT",
                  "request": {
                    "type": "application/vnd.gem.developer_email_token+json;charset=UTF-8;version=2.0"
                  },
                  "response": {
                    "status": 200,
                    "type": "application/vnd.gem.developer+json;charset=UTF-8;version=2.0"
                  }
                }
              }
            },
            "applications": {
              "actions": {
                "create": {
                  "method": "POST",
                  "request": {
                    "type": "application/vnd.gem.application+json;charset=UTF-8;version=2.0",
                    "authorization": [
                      "Gem-Developer-Session"
                    ]
                  },
                  "response": {
                    "type": "application/vnd.gem.application+json;charset=UTF-8;version=2.0",
                    "status[...]
- request:
    method: post
    uri: https://api.gem.co/users
    body:
      encoding: UTF-8
      string: '{"email":"bitflashvcr@gmail.com","first_name":"Bit","last_name":"Flash","default_wallet":{"name":"default","primary_public_seed":"xpub661MyMwAqRbcEmVf24S5gtPv2yeYHBXiVeXsYKFsqYwsGQmJgYTusvugseF2pCUcvtaNa5oKG7P2AFwKfvCw5hXeKqoJKuCf8zURNvg6qfV","primary_private_seed":{"iterations":100000,"salt":"cd123bc8e170013e4fa80b0ab7e2e55d","nonce":"fe11913785a2fab48a33096c4bcf2ab8f5613aed31785f05","ciphertext":"3d31e8ba86d8c0f85e39395ec5d667f27c741263b267d9e7a9422ab89a91f3b075fe80bedd1dddefb8e256d2ed4644a81b543bee1276153d8b08d7a5bdbea2d492cb8a6b80e6d46c323efc2adbc246df"}},"device_name":"device","redirect_uri":"https://bitflash.herokuapp.com"}'
    headers:
      Content-Type:
      - application/vnd.gem.user+json;charset=UTF-8;version=2.0
      Authorization:
      - Gem-Identify api_token="nvti-J8zFNctXUy8Th0ilEPsSfwtSKwk7AH7UBKDyTU"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"conflict","reason":"GemAPI::Conflict"}'
  recorded_at: Mon, 13 Jul 2015 17:07:44 GMT
recorded_with: VCR 2.9.3
