<% if user_signed_in? %>
  <h2 class="index-quote">“I do think Bitcoin is the first digital currency that has the potential to do something like change the world." </br></br>- Peter Thiel</h2>
<% else %>
  <%= render 'unauthorized_index' %>
<% end %>
