<% if user_signed_in? %>
  <div class="chart">
    <iframe frameBorder="0" scrolling="no" src="https://www.bigterminal.com/embed/chart-widget/?&color=502B3E&series=coinbaseBTCUSD&sub_id=hymO5MZ" width="950" height="500"></iframe>
  </div>
<% else %>
  <%= render 'unauthorized_index' %>
<% end %>
