  <div class="banner" id="banner">
    <div class="banner-content" id="banner-content">
      <h1>B i t F l a s h</h1>
      <div class="subtitle">
        <h3>The easiest way to send funds worldwide.</h3>
        <a href="#row" id="arrow"><i class="fa fa-arrow-circle-o-down fa-2x"></i></a>
      </div>
    </div>
  </div>
  <div class="row" id="row">
    <div class="large-4 columns">
      <img src=<%= asset_path 'btc1.jpg' %>/>
      <h4>We utilize Bitcoin.</h4>
      <p>Bitcoin enables peer to peer money transfers to occur nearly instantly and at barely any cost.  By utilizing the power of Bitcoin, we can skip the middle men and avoid those nasty credit card processing fees associated with other remittance apps.</p>
    </div>

    <div class="large-4 columns">
      <img src=<%= asset_path 'users1.jpg' %>/>
      <h4>Send money easily.</h4>
      <p>BitFlash allows you to quickly and easily send Bitcoin to anyone worldwide without the need to know their Bitcoin addresses or QR codes. Add your friends and send money anytime with the click of a button!</p>
    </div>

    <div class="large-4 columns">
      <img src=<%= asset_path 'btc1.jpg' %>/>
      <h4>Make me later.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h4>Ready to get started?</h4>
        <div class="row">
          <div class="large-9 columns">
            <p>Start sending now!</p>
          </div>
          <div class="large-3 columns">
            <a href="/users/sign_up" class="radius button right">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>Copyright BitFlash © 2015.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="https://github.com/csoreff/bitflash-rails">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

