<div class="row full-width" data-equalizer>
  <div class="small-12 medium-12 large-12 columns transactions data-equalizer-watch" role="content">
    <table class='center-forms'>
      <tr>
        <th>Value</th>
        <th>Type</th>
        <th>Status</th>
        <th>Address</th>
      </tr>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.amount %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
